DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

ACCESS_TOKEN_SECRET=your_access_secret_key
REFRESH_TOKEN_SECRET=your_refresh_secret_key
ACCESS_TOKEN_EXPIRY=60m
REFRESH_TOKEN_EXPIRY=7d

EMAIL_USER=your email
EMAIL_PASS=your_app_password

NODE_ENV=development
PORT=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=mailto:@gmail.com